/*use this color-->#0652DD  span eke thyena ekai ganna*/

html{
    scroll-behavior: smooth;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url("asserts/images/Portfolio/Man.JPG");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.hero nav .togglebtn{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 80px;
    right: 3%;
    z-index: 10;
    cursor: pointer;
    /*background-color: #0652DD;*/
    display: none;
}

.hero nav .togglebtn span{
    display: block;
    background-color:  #0652DD;
    margin: 5px 0;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform,opacity;
}

.logo{
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
   /* color: #0d6efd;*/
    color: #0652DD;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 33px;

    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

/*
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
*/

nav ul li:hover{
    color: #0d6efd;
    transition: .4s;
    cursor: pointer;
}

.btn{
    display: initial;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: tranform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
}

h4{
    color: #18dcff;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #0d6efd;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #0d6efd;
    color: white;
    box-shadow: 0 0 5px #000,0 0    15px #858585;
    top: 6px;
    right: -140px;
}

.about{
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}

.about img{
    border-radius: 5%;
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    display: flex;
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #18dcff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about-text button{
    background-color: #0652DD;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.about-text button:hover{
    background-color: transparent;
    border: 2px solid #0652DD;
    cursor: pointer;
}

.services{
    background-color: #101010;
    width: 100%;
    padding: 100px 0;
}

.title h2{
    color: white;
    font-size: 75px;
   /* width: 1130px;*/
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.services .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
   /* overflow: hidden;*/
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #0652DD;

}

h5{
    font-size: 23px;
    color: white;
    padding-bottom: 15px;
}

.pra p{
    color: #18dcff;
  /*  letter-spacing: 1px;*/
    line-height: 27px;
    font-size: 16px;
    margin-bottom: 25px;
}

.card .button {
    position: absolute;
    width: max-content;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #0652DD;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #0652DD;
    cursor: pointer;
}

.projects{
    position: relative;
    width: 100%;
    height: 750px;
    background-color: #191919;
    padding: 100px 0;
}
section .desc h5{
    /*color: white;*/
    letter-spacing: 2px;
    font-size: 22px;
    /*margin-bottom: 25px;*/
    text-transform: capitalize;
    text-align: center;
    color: #0652DD;
}


.projects .imageSet{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image{
    position: relative;
    border: 2px solid transparent;
    background-color: #222222;
    border-radius: 30px;
    transition: .4s;
    height: 450px;
    width: 30%;
}

.parImage{
    color: #18dcff;
     letter-spacing: 1px;
    line-height: 27px;
    font-size: 17px;
    margin-bottom: 25px;
    text-align: center;
}

.projects .imageSet .pic{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-image: url("asserts/images/cases/pic9.jpg");
    background-size: cover;
    display: none;
    opacity: 0;
}

.textImage{
    top: 0;
    color: white;
}

.icon{
    color: white;
    padding-top: 50px;
    text-align: center;
    bottom: 0;
    font-size: 50px;
}

.textImage h6{
    text-align: center;
    font-size: 20px;
    color: white;
}

.image:hover .textImage{
    cursor: pointer;
    transition: .4s;
    opacity: 0;
    /*background-color: #3dd5f3;*/
    display: none;
    transition-property: all;
}

.image:hover .pic{
    transition-property: all;
    opacity: 1;
    cursor: pointer;
    transition: .4s;
    /*background-color: #3dd5f3;*/
    display: block;
}

.image:hover i{
    transition-property: all;
    opacity: 0;
    cursor: pointer;
    transition: .4s;
    /*background-color: #3dd5f3;*/
    display: none;
}


.btn{
    bottom: 60px;
    width: max-content;
    position: absolute;
    right: 0;
    left: 0;
    margin:auto;
    background-color: #0652DD;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid #0652DD;
    cursor: pointer;
}

.skills{
    background-color: #101010;
    height: 800px;
    width: 100%;
    padding: 100px 0;

}

/*section header{
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    padding: 24px;
    color: #0652DD;
}*/

section .skill{
    display: grid;
    grid-gap: 75px;
    padding: 16px;
    max-width: 1024px;
    margin-inline: auto;
}

.skill .set{
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    cursor: pointer;
}

.skill .set:hover{
    box-shadow: 0 12px 16px #36363624;
}

.set span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: #0652DD;
    color: white;
    border-radius: 35%;
    margin-inline: auto;
}

.set > header{
    padding: 24px;
    font-size: 24px;
    color: #0652DD;
    text-align: center;
    text-transform: capitalize;
}

.set .list{
    display: grid;
    padding: 8px;
    grid-template-columns: 1fr 28px;
    color: #0652DD;
    text-transform: uppercase;
}

.set:hover .list{
    color: #18dcff;
   /* font-size: 25px;*/
}

/*.set:hover{
    box-shadow: 0 12px 14px #36363624;
}*/

.hobbies{
    position: relative;
    text-align: center;
    padding: 100px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 180vh;
    background: #222;
}

.hobbies .container{
    right: 0;
    left: 0;
    margin: auto;
    width: 80%;
    position: relative;
}
#display{
    background-image: url("asserts/images/Portfolio/Travel.jpeg");
    background-size: cover;
    background-position: center;
}

.hobbies .container #display{
    width: 100%;
    height: 80vh;
    border-radius: 20px;
}

.hobbies .paragraph{
    color: #18dcff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1.5em;
    margin-bottom: 65px;
}

.arrowButtons{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 4;
    height: 100%;
    margin: auto;
}



#divRight{
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 5;
    background: rgba(255,255,255,0.3);
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#divLeft{
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 5;
    background: rgba(255,255,255,0.3);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#divLeft,#divRight i{
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#divRight,#divLeft i{
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#divRight,#divLeft:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.5);
}

.dots{
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

.dot{
    width: 35px;
    height: 5px;
    background-color: white;
}
.assignments{
    margin: 0;
    padding: 0;
    background-color: #101010;
    height: 850px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.heading h2{
    color: white;
    font-size: 75px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.heading span{
    /* color: white; */
    letter-spacing: 4px;
    font-size: 22px;
    /* margin-bottom: 25px; */
    text-transform: capitalize;
    text-align: center;
    color: #0652DD;
}

.assignments .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.assignments .container .box{
    width: 350px;
    background-color: white;
    border: 1px solid #18dcff;
    margin: 20px;
    position: relative;
}

.assignments .container .box .box-image{
   width: 100%;
    height: auto;
}



.assignments .container .box .box-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.assignments .container .box .box-text{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;

}

.assignments .container .box .box-text a:hover{
    cursor: pointer;
    color: red;
    transition: all ease 0.3s;
}


.assignments .container .box .box-text a{
    color: #0652DD;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 2.5px;
}

.assignments .button{
    bottom: -135px;
    position: relative;
}

.contact-me{
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: #0652DD;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}



.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #0652DD;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #101010;
}

footer p:first-child{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    text-align: center;
    width: 500px;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0652DD;
    color: white;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    bottom: 35px;
    font-size: 14px;
    color: white;
}

.end span{
    color: #0652DD;
}

@media(max-width: 930px) {
    nav .togglebtn{
        display: initial;
    }

    /*For toggle button*/
    .click{
        top: 45px;
    }

    .click span{
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child{
        transform: rotate(-45deg);
    }

    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }

    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 185px;
        height: 47vh;
        background-color: #222222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0;

    }

     nav .navlinks li{
        display: inline-block;

     }
    /* nav .navlinks .open{
        background-color: yellow;
     }
*/

    .card{
        height: max-content;
    }

}

@media (max-width: 768px) {


    .main{
        flex-direction: column;
        padding-top: 2rem;
    }

    .main .about-text{
        padding: 40px 0;
    }

    .btn{
        display: none;
    }

    .hero nav .togglebtn{
        display: initial;
    }

    h1{
        font-size: 60px;
    }


}

@media (min-width: 600px) {
    .skill{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 600px) {
    .skill{
        grid-template-columns: 1fr;
    }

    .skills{
        height: 1230px;
    }
}

@media (max-width: 1230px) {
    .assignments .container .box{
        width: 300px;
    }
}


@media (max-width: 1100px) {
    .assignments .container .box{
        width: 70%;
    }
}
